/* Configuração geral */

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Gotham', sans-serif;
    color: #fff;
}

:root{
    --colorPrimary: #ff0000;
    --colorSecondary: #141414;
    --fontSlayer: 'Slaytanic', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn{
    border: 1px solid #fff;
    padding: 5px;
    align-items: center;
    width: 150px;
    border-radius: 5px;
    background-color: var(--colorPrimary);
    font-size: 18px;
    cursor: pointer;
}

.btn-wrong{
    background-color: #b60000;
    color: #818181;
    cursor: default;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.font{
    font-family: var(--fontSlayer);
    font-size: 40px;
}

.content{
    text-align: left;
}

#bandas h1, #sobre h1, #contato h1, #albuns h1, .modal h1{
    text-align: center;
    font-size: 60px;
    font-family: var(--fontSlayer);
}

#sobre, #bandas, #albuns, #home{
    margin-bottom: 13%;
}

#contato{
    margin-bottom: 5%;
}

/* Header */

.header{
    width: 100%;
    font-size: 25px;
    height: 70px;
    background-color: black;
    border-bottom: 2px solid var(--colorPrimary);
    position: fixed;
    z-index: 1;
    top: 0;
}

.logo{
    float: left;
    padding: 15px;
    color: var(--colorPrimary);
    font-family: var(--fontSlayer);
    font-size: 40px;
}

.logo .light{
    font-family: var(--fontSlayer);
}

.menu{
    float: right;
}

.item-menu{
    display: inline-block;
    list-style: none;
    padding: 17px;
    color: var(--colorPrimary);
}

.item-menu a{
    text-decoration: none;
    color: var(--colorPrimary);
    font-family: var(--fontSlayer);
    font-size: 27px;
}

.item-menu i{
    color: var(--colorPrimary);
}

.item-menu a:hover{
    color: #fff;
}

.item-menu i:hover{
    color: #fff;
}

.light, .light a{
    color: #fff;
}

.lightOff{
    color: var(--colorPrimary);
}

/* Home */

#home{
    width: 100%;
    height: 700px;
    clear: both;
    margin-top: 12%;
}

#imgHome{
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
    -webkit-mask-image: linear-gradient(to top, transparent 8%, black 100%);
    filter: brightness(2.5);
}

#imgHome img{
    width: 100%;
    height: 100%;
}

#imgHome::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, transparent, black 100%);
}

#home .content{
    float: right;
    font-size: 30px;
    width: 50%;
    margin-bottom: 3%;
    margin-top: 10%;
    text-align: center;
}

/* Bandas */

.box{
    width: 20%;
    height: 30%;
    background-color: var(--colorSecondary);
    float: left;
    border-bottom: 3px solid var(--colorPrimary);
    margin: 50px 50px;
}

.imgBox{
    width: 100%;
    height: 30%;
}

.textBox{
    height: 150px;
    padding: 15px;
    text-align: center;
}

.spotify{
    flex-direction: column;
    margin-bottom: 5px;
}

.spotify i:hover{
    color: #25d060;

}

/* Playlist */

.slider{
    width: 100%;
    height: 500px;
    margin-top: 5%;
}

.window{
    flex-direction: row;
}

.window i{
    margin-left: 25px;
    margin-right: 25px;
}

.capa{
    width: 40%;
    height: 500px;
    background-size: 100% 100%;
}

.opacidade{
    background-color: rgba(0, 0, 0, 0.472);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.capa .opacidade .content{
    width: 80%;
    font-size: 60px;
    text-align: left;
    padding: 10px;
}

.songs{
    width: 30%;
    height: 500px;
    overflow-y: scroll;
    background-color: var(--colorSecondary);
}

.music{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.music:hover{
    background-color: #646464;
}

.track{
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.info .title{
    font-size: 20px;
}

.music i{
    font-size: 20px;
}

.track .icon-music{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.music .favoritar{
    margin-right: 5px;
}

.music .favoritar:hover{
    color: var(--colorPrimary);
}

.favoritado{
    color: var(--colorPrimary);
}

/* Sobre */

.card-item{
    width: 20%;
    text-align: center;
    float: left;
    margin: 50px 50px;
}

.card-item p{
    padding: 15px 5px;
    color: #fff;
}

/* Contato */

.contact{
    width: 50%;
    padding: 5px;
}

.contact input, .input-login, .input-pub{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 4px solid #fff;
    background-color: #000;
    font-size: 18px;
}

.contact .row{
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact .cow{
    display: inline-block;
    width: 49%;
}

.contact .cow input{
    width: 100%;
}

#contato .content{
    width: 40%;
    height: 100%;
    border-left: 3px solid #fff;
    font-size: 25px;
    padding: 30px;
}

#contato .container{
    width: 60%;
}

#contato .flex{
    justify-content: space-between;
}

/* rodapé */

#footer{
    width: 100%;
    height: 220px;
    margin-top: 10%;
    background-color: var(--colorSecondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer #copy, #footer #memorian{
    margin-bottom: 1%;
}

#footer .container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#footer .container .cow{
    display: flex;
    flex-direction: column;
}

#footer .container .cow span{
    margin-top: 20px;
}

/*Modal*/
.tela{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
}

.tela #close{
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 50px;
    text-decoration: none;
    color: var(--colorPrimary);
    font-family: var(--fontSlayer);
}

.modal{
    width: 25%;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: var(--colorSecondary);
    display: none;
    align-items: center;
    justify-content: center;
}

.login form{
    display: flex;
    flex-direction: column;
}

.login{
    width: 60%;
}

.input-login, .input-pub{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--colorSecondary);
}

.login form .btn{
    margin-top: 15px;
}

#modal_post{
    width: 50%;
}

.create-post form{
    display: flex;
    flex-direction: column;
}

.create-post form .row{
    display: flex;
    flex-direction: row;
}

.create-post form .row .cow{
    width: 48%;
    margin-left: 10px;
    margin-right: 10px;
}

.create-post form textarea{
    background-color: var(--colorSecondary);
    resize: none;
    width: 100%;
}

.cancel{
    margin-right: 2%;
}

#resum-post{
    height: 30%;
}

#text-post{
    height: 100%;
}

/* button flutua */

.btn-flutua{
    position: absolute;
    bottom: 0;
    position: fixed;
    margin-left: 90%;
    margin-bottom: 2%;
}

/* noticia principal */
#principal .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    overflow: visible;
}

.noticia-p{
    width: 60%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.noticia-p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    transition: transform .2s;
}

.noticia-p img:hover{
    transform: scale(1.1);
}

.noticia-p .conteudo{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

.title-p{
    width: 100%;
    font-size: 40px;
    margin-bottom: 3%;
}

.resum-p .content{
    width: 80%;
    font-size: 25px;
    margin-bottom: 3%;
    text-align: left;
}

.sub-noticia{
    width: 30%;
    height: 600px;
    margin-left: 5%;
    
}

.sub{
    width: 100%;
    height: 48%;
    margin-bottom: 5%;
    transition: .2s;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.sub .opacidade{
    padding: 15px;
}

.sub:hover{
    transform: scale(1.1);
}

#sub1{
    background-image: url(../img/claustrofobia.jpg);
    background-size: cover;
}

#sub2{
    background-image: url(../img/anthrax.jpg);
    background-size: cover;
}

.feed{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.materia{
    width: 100%;
    height: 200px;
    margin-top: 2%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.lista{
    width: 30%;
}

.lista .info{
    margin-bottom: 5%;
}

.materia .info span{
    margin-top: 3%;
}

#materias{
    margin-top: 3%;
}

#materias .container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.post button{
    border-radius: 90px;
    width: 60px;
    height: 60px;
    font-size: 40px;
}

/*validação input*/
.input-wrong{
    border-bottom: 4px solid var(--colorPrimary);
}


/*Animação*/

[data-anime]{
    opacity: 0;
    transition: .6s;
}

[data-anime="top"]{
    transform: translate3d(0, -70px, 0);
}

[data-anime="bottom"]{
    transform: translate3d(0, 70px, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}