<div class="header">
    <div class="container">
        <div class="logo">
            thrash<span class="light"> wiki</span>
        </div>

        <div class="menu">
            <ul>
                <li class="item-menu"><a href="#">Ola {{#data}}{{nomeUser}}{{/data}}</a></li>
                <li class="item-menu"><a href="#" onclick="sair()"><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<section id="principal">
    <div class="container">
        <div class="noticia-p">
            <img src="../img/imgP.jpg" alt="">
            <div class="conteudo">
                <div class="title-p">
                    <div class="content">
                        Metallica encerra com muito Thrash
                    </div>
                </div>
                <div class="resum-p">
                    <div class="content">
                        A banda fecha a ultima noite do Lollapalooza com muito Metal e energia para os fãs
                    </div>
                </div>
            </div>
        </div>

        <div class="sub-noticia">
            <div class="sub" id="sub1">
                <div class="opacidade">
                    <div class="resum-p">
                        <div class="content">
                            Claustrofobia arrebenta no dia do Metal com muito Metal brasileiro
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub" id="sub2">
                <div class="opacidade">
                    <div class="resum-p">
                        <div class="content">
                            Anthrax leva público a loucura com seu som e direito a participação
                            de uma banda Indígena na música "Indians"
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="materias">
    <div class="container">
        <div class="feed">
            <div class="materia">
                <img src="../img/metallica.png" alt="">
                <div class="info">
                    <span class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                        magnam,
                        distinctio fugiat facilis, explicabo temporibus libero hic quod,
                        earum alias natus pariatur dolor! Quam praesentium itaque qui.</span>
                    <span class="hour">1 Hora Atras</span>
                </div>
            </div>
            <div class="materia">
                <img src="../img/metallica.png" alt="">
                <div class="info">
                    <span class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                        magnam,
                        distinctio fugiat facilis, explicabo temporibus libero hic quod,
                        earum alias natus pariatur dolor! Quam praesentium itaque qui.</span>
                    <span class="hour">1 Hora Atras</span>
                </div>
            </div>
            <div class="materia">
                <img src="../img/metallica.png" alt="">
                <div class="info">
                    <span class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                        magnam,
                        distinctio fugiat facilis, explicabo temporibus libero hic quod,
                        earum alias natus pariatur dolor! Quam praesentium itaque qui.</span>
                    <span class="hour">1 Hora Atras</span>
                </div>
            </div>
        </div>
        <div class="lista">

            <div class="info">
                <span class="title">Lorem ipsum dolor sit amet</span>
                <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                    distinctio fugiat facilis, explicabo temporibus libero hic quod,</span>
            </div>

            <div class="info">
                <span class="title">Lorem ipsum dolor sit amet</span>
                <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                    distinctio fugiat facilis, explicabo temporibus libero hic quod,</span>
            </div>

            <div class="info">
                <span class="title">Lorem ipsum dolor sit amet</span>
                <span class="resum">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum
                    distinctio fugiat facilis, explicabo temporibus libero hic quod,</span>
            </div>
        </div>
    </div>

</section>

<section id="footer">
    <div class="container">
        <div class="cow">
            <span><i class="fab fa-instagram"></i> @thrash_wiki</span>
            <span><i class="fab fa-facebook-square"></i> Thrash Wiki</span>
            <span><i class="fas fa-envelope"></i> thrash_wiki@gmail.com</span>
        </div>

        <div class="cow">
            <span>Termos de Licença</span>
            <span>Cookies</span>
            <span>R. Anhengabau, 789</span>
        </div>

    </div>

    <span id="copy">&COPY;Todos os direitos reservados 2020</span>
    <span id="memorian">Em memória de Carlos Teixeira (1962-2020)</span>

</section>

<div class="tela" id="tela_opaca">
    <a id="close" href="#" onclick="close_modal()">X</a>
    <div class="modal" id="modal_post">
        <div class="create-post">
            <h1>Postagem</h1>
            <form action="">
                <div class="row">
                    <div class="cow">
                        <input type="text" id="title" class="input-pub" placeholder="Título">
                        <input type="text" id="sub-title" class="input-pub" placeholder="Sub-titulo">
                        <label for="resum-post">Resumo: </label>
                        <textarea name="resum-post" id="resum-post" cols="30" rows="10" class="text-pub"></textarea>
                    </div>
                    <div class="cow">
                        <label for="text-post">Texto:</label>
                        <textarea name="text-post" id="text-post" cols="30" rows="10" class="text-pub"></textarea>
                    </div>

                </div>
                

                <div class="row">
                    <button class="btn cancel" onclick="close_modal()">Cancelar</button>
                    <button class="btn" type="submit">Publicar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

<div class="btn-flutua post">
    <button onclick="postagem()" class="btn">+</button>
</div>

<script>
    if(!sessionStorage.getItem("sessao")){
        window.location.href = '/'
    }

    function sair(){
        sessionStorage.clear()
        window.location.href = '/'
    }
</script>