<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="http://allfont.net/allfont.css?fonts=slaytanic" rel="stylesheet" type="text/css" />
    <title>Thrash WIKI</title>
</head>

<body>
    {{{body}}}
</body>

</html>
<script src="https://kit.fontawesome.com/f3846a3688.js"></script>

<script src="/js/modal.js"></script>